{% extends 'base.html' %}

{% block head %}

<title>Welcome Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Your Diabetes</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="text" name="Pregnancies" id="Pregnancies" placeholder="Pregnancies">
            <input type="text" name="Glucose" id="Glucose" placeholder="Glucose">
            <input type="text" name="BloodPressure" id="BloodPressure" placeholder="Blood Pressure">
            <input type="text" name="SkinThickness" id="SkinThickness" placeholder="Skin Thickness">
            <input type="text" name="Insulin" id="Insulin" placeholder="Insulin">
            <input type="text" name="BMI" id="BMI"placeholder="BMI">
            <input type="text" name="DiabetesPedigreeFunction" id="DiabetesPedigreeFunction"placeholder="Diabetes Pedigree Function">
            <input type="text" name="Age" id="Age"placeholder="Age">
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}